:root {
    --primary: #21E6C1;
    --primary-darker: #278EA5;
    --background: #222831;
    --complimentary: #1F4287;
    --font-color: #eee;
    --font-color-darker: #ddd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    scroll-behavior: smooth;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

#starter {
    z-index: 10;
    position: relative;
    max-width: 1200px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: opacityAnimation .7s ease;
}

.starter-name {
    color: var(--font-color-darker);
    font-size: 25px;
    font-weight: lighter;
    letter-spacing: 15px;
    text-align: center;
}

.starter-header {
    color: var(--font-color);
    font-size: 100px;
    font-weight: lighter;
    text-align: center;
}

.starter-menu {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.starter-menu-item {
    width: 33.3%;
    display: flex;
    justify-content: center;
}

.starter-menu-item a {
    text-decoration: none;
    color: var(--font-color);
    font-weight: lighter;
    font-size: 20px;
    transition: .3s ease-out;
}

.starter-menu-item a:hover {
    letter-spacing: 2px;
}

#about {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    padding: 10px;
    z-index: 10;
    position: relative;
}

.about-header {
    font-size: 60px;
    font-weight: lighter;
    color: var(--font-color);
}

.about-text {
    margin-top: 30px;
    font-size: 20px;
    line-height: 2rem;
    color: var(--font-color-darker);
}

.circle {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid var(--complimentary);
    border-radius: 50%;
    filter: blur(5px);
    animation: circleOnLoad .7s ease;
}

.circle-sm {
    width: 500px;
    height: 500px;
}

.circle-m {
    width: 1000px;
    height: 1000px;
    filter: blur(8px);
}

.socials {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
}

.socials hr {
    transform: rotate(90deg);
    height: 3px;
    width: 50px;
    border: 0;
    background-color: var(--primary);
    margin-left: -7px;
}

.github-light {
    width: 35px;
    margin-top: 32px;
}

@keyframes circleOnLoad {
    0% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1000px) {
    .about-img img {
        max-width: 300px;
    }
}

@media screen and (max-width: 725px) {
    #about {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    .starter-header {
        font-size: 17vw;
    }


}
